<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>my HTML tag</h1>
   <p>{{username}}</p>
   <p>{{age}}</p>
   <img src="{{ img_url }}" alt="dog">
   <h3>User list</h3>
   {% for user in user_list %}
        <p>{{ user.username }}</p>
        <p>{{ user.age }}</p>
   {% endfor %}
   <h3>Cat info</h3>
   <p>{{ cat.msg }}</p>
</body>
</html>